<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/orders.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (orders.length <= 0) { %>
        <h1>Nothing there!</h1>
        <% } else { %>
        <ul class="orders">
            <% orders.forEach(order => { %>
            <% let orderTotal = 0 %>
            <li class="orders__item">
                <h1>Order - # <%= order._id %></h1>
                <ul class="orders__products">
                    <% order.order.forEach(product => { %>
                    <a href="/products/<%= product.productId%>">
                        <li class="orders__products-item"><%= product.title %> (<%= product.quantity %>)</li>
                    </a>
                    <% orderTotal+= product.price * product.quantity }); %>
                </ul>
                <strong> Ordered On <%= order.orderDate %> </strong>
                <br>
                <strong> Order Total $<%=orderTotal%> </strong>
            </li>
            <% }); %>
        </ul>
        <% } %>
    </main>
    <%- include('../includes/footer.ejs') %>